@import 'global.css';
@import 'components.css';
@import 'header.css';
@import 'hero.css';
@import 'sobre.css';
@import 'recursos.css';
@import 'personagens.css';
@import 'gameplay.css';
@import 'footer.css';